<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/leshf/OneDrive/Documents/IntegrateExtentReportMukesh/src/test/java/pages/LoginPage.java">
        <classes>
            <class name="tests.LoginTestCRM"/>
        </classes>
    </test>
</suite>